// COLORS
// Primary-Shades
$clr-blue-100: #f8faff;
$clr-blue-200: #edf2fe;
$clr-blue-300: #bed0fb;
$clr-blue-400: #9ab6f8;
$clr-blue-500: #4b7df3;
$clr-blue-600: #3f68ca;
$clr-blue-700: #3253a2;
$clr-blue-800: #263f7a;
$clr-blue-900: #192a51;

//Greys

$clr-grey-100: #f1f4f8;
$clr-grey-200: #cdd5e0;
$clr-grey-300: #97a3b6;
$clr-grey-400: #677489;

//Base
$clr-white: #fff;

// Breakpoints
$bp-tablets: 61em; //976px
$bp-medium-tablets: 54.68em; //875px
$bp-small-tablets: 52.5em; //840px
$bp-large-phones: 41.625em; //666px;
$bp-medium-phones: 34em; //544px;
$bp-small-phones: 29.125em; //465px;
$bp-xtra-small-phones: 23.5em; //375px
